<div class="user-management-container">
  <h2>User Management</h2>
  <div class="search-sort-container">
    <input type="text" placeholder="search" [(ngModel)]="searchText" (input)="search()" class="search-box">
    <button mat-button (click)="sort()" class="sort-button">Sort by name</button>
    <button mat-button (click)="addUser()" class="sort-button">Add user</button>
  </div>
  <div class="cards-container">
    <mat-card *ngFor="let user of filteredText" class="user-card">
      <mat-card-title>
        {{ user.name }}
        
      </mat-card-title>
      <mat-card-content>
        LastName: {{ user.username }}
      </mat-card-content>
      <mat-card-content>
        Email: {{ user.email }}
      </mat-card-content>
      <mat-card-content>
        City: {{ user.address.city }}
      </mat-card-content>
      <span class="card-icons">
        <mat-icon (click)="editUser(user)">edit</mat-icon>
        <mat-icon (click)="deleteUser(user)">delete</mat-icon>

      </span>
     
    </mat-card>
  </div>
</div>
