.user-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-sort-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Ensure the container takes full width */
  max-width: 600px; /* Adjust the maximum width as needed */
}

.search-box {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #00367e;
  width: 100%; /* Ensure the input takes full width of its container */
}

.sort-button {
  padding: 10px 20px;
  background-color: #1687ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
}

.sort-button:hover {
  background-color: #0056b3;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  background-color: rgb(108, 236, 253);
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  text-align: center;
  padding: 10px;
}
