<div class="user-management-container">
  <h2>User Management</h2>
  <input type="text" placeholder="search" [(ngModel)]="searchText" (input)="search()">
  <div class="cards-container">
    <mat-card *ngFor="let user of filteredText" class="user-card">
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-content>
        LastName: {{ user.username }}
      </mat-card-content>
      <mat-card-content>
        Email: {{ user.email }}
      </mat-card-content>
      <mat-card-content>
        City: {{ user.address.city }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
