.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px; // Adds spacing between items inside the flex container
}
.recent-activity{
  width: 350px; // Adjusted to ensure the card doesn’t overlap with the charts
  margin: 20px;
  text-align: left;
  background-color: rgb(157, 208, 255); // Updated background color for visual appeal
  box-shadow: 0 2px 5px rgba(212, 210, 226, 0.15);
  transition: transform 0.3s ease; // Adding transition for hover effect
  &:hover {
    transform: translateY(-10px); // Adding moving animation on hover
}
}

.dashboard-card {
  width: 300px; // Adjusted to ensure the card doesn’t overlap with the charts
  margin: 20px;
  text-align: left;
  background-color: rgb(28, 252, 185); // Updated background color for visual appeal
  box-shadow: 0 2px 5px rgba(31, 7, 167, 0.15);
  transition: transform 0.3s ease; // Adding transition for hover effect
  &:hover {
    transform: translateY(-10px); // Adding moving animation on hover
}
}
.card-icon {
  margin-right: 8px;
  color: #5c6bc0;
}

.dashboard-card-content {
  padding: 20px; // Adjusted to reduce excess spacing and improve card layout
  transition: transform 0.3s ease; // Adding transition for hover effect
  &:hover {
    transform: translateY(-20px); // Adding moving animation on hover
}


}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; // Adds spacing between the chart divs
  padding: 20px; // Padding to ensure content is not too close to the edge

  .chart-card {
    flex: 1; // Ensures each canvas takes up available space
    background-color: #f0f0f0; // Updated background color for the chart card
    padding: 20px; // Added padding to ensure content is centered and clean
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Soft shadow for visual depth
    transition: transform 0.3s ease; // Adding transition for hover effect

    &:hover {
        transform: translateY(-20px); // Adding moving animation on hover
    }
}
}
