<div class="dashboard-container">
  <h2>Dashboard</h2>

  <!-- Cards container -->
  <div class="cards-container">
    <mat-card *ngFor="let stat of stats" class="dashboard-card">
      <mat-card-title>
        <mat-icon *ngIf="stat.icon">{{ stat.icon }}</mat-icon>
        {{ stat.title }}
      </mat-card-title>
      <mat-card-content>{{ stat.value }}</mat-card-content>
    </mat-card>
  </div>

   Charts container 
  <div class="charts-container">
    <mat-card class="chart-card">
      <h3>User Activity Chart</h3>
      <canvas id="userActivityChart"></canvas>
    </mat-card>
    <mat-card class="chart-card">
      <h3>Sales Chart</h3>
      <canvas id="salesChart"></canvas>
    </mat-card>
  </div>

  <!-- Recent activity -->
  <mat-card>
    <mat-card-content>
      <div class="recent-activity">
        <h2>Recent Activity</h2>
        <ul>
          <li *ngFor="let activity of recentActivities">{{ activity }}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
  <app-listings></app-listings>

  <app-mapbox-map></app-mapbox-map>
  <app-data-table></app-data-table>

</div>
